<a href="https://colab.research.google.com/github/22yuu/Colab/blob/main/9_RandomForest_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
"""
날짜 : 2021/07/09
이름 : 이진유
내용 : RandomForest 실습하기
"""
import pandas as pd
from sklearn import model_selection, metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [8]:
#데이터셋 확인
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [10]:
# 데이터셋 불러오기
df_iris = sns.load_dataset('iris')
df_iris

iris_data = df_iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
iris_label = df_iris[['species']]

train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_label)
train_data

     sepal_length  sepal_width  petal_length  petal_width
11            4.8          3.4           1.6          0.2
122           7.7          2.8           6.7          2.0
132           6.4          2.8           5.6          2.2
84            5.4          3.0           4.5          1.5
146           6.3          2.5           5.0          1.9
..            ...          ...           ...          ...
28            5.2          3.4           1.4          0.2
101           5.8          2.7           5.1          1.9
110           6.5          3.2           5.1          2.0
68            6.2          2.2           4.5          1.5
64            5.6          2.9           3.6          1.3

[112 rows x 4 columns]

In [11]:
# 학습하기
model = RandomForestClassifier()
model.fit(train_data, train_label)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
#테스트하기
result = model.predict(test_data)
result

array(['virginica', 'versicolor', 'virginica', 'versicolor', 'setosa',
       'virginica', 'virginica', 'setosa', 'virginica', 'versicolor',
       'setosa', 'virginica', 'virginica', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'setosa',
       'setosa', 'setosa', 'versicolor', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'virginica', 'setosa', 'virginica',
       'setosa', 'setosa', 'setosa', 'virginica', 'virginica',
       'virginica', 'virginica', 'versicolor'], dtype=object)

In [14]:
#성능 평가하기
score = metrics.accuracy_score(result, test_label)
score

0.9473684210526315